{% extends "layout.njk" %}
{% block content %}

  <main class="main">
    <section class="main-description">
      <div class="text">
        <h1 class="title">As melhores receitas</h1>
        <p class="description">
          Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
        </p>
      </div>
      <img class="image" src="/assets/chef.png" alt="Desenho de um chef"/>
    </section>

    <section class="main-recipes">
      <h2 class="title">Mais acessadas</h2>
      <div class="recipes">
        {% for recipe in recipes %}
          <div class="recipe-card">
            <img class="image" src="{{recipe.image}}" alt="Foto de {{recipe.title}}"/>
            <p class="title">{{recipe.title}}</p>
            <p class="author">Por
              {{recipe.author}}</p>
          </div>
        {% endfor %}
      </div>
    </section>
  </main>

{% endblock %}

{% block script %}
  <script src="/script.js"></script>
{% endblock %}
