{% extends "admin/layout.njk" %}

{% block content %}
  <form class="form" method="POST" action="/admin/recipes">
    <div class="head">
      <h1 class="title -form">Editando receita</h1>
      <div>
        <button class="button -alt" type="">Deletar</button>
        <button class="button" type="submit">Salvar receita</button>
      </div>
    </div>

    <div class="inputs">
      <label class="label" for="image">Imagem da receita</label>
      <input name="image" class="input" type="url" id="image" value="{{ recipe.image }}">

      <label class="label" for="title">Nome da receita</label>
      <input name="title" class="input" type="text" id="title" value="{{ recipe.title }}">

      <label class="label" for="author">Autor da receita</label>
      <input name="author" class="input" type="text" id="author" value="{{ recipe.author }}">

      <label class="label" for="ingredients">Ingredientes</label>
      {% for item in recipe.ingredients %}
        <input name="ingredients" class="input -alt" type="text" value="{{ item }}">
      {% endfor %}
      <a class="link" data-ref="ingredients">Adicionar novo ingrediente</a>

      <label class="label" for="preparation">Modo de preparo</label>
      {% for item in recipe.preparation %}
        <input name="preparation" class="input -alt" type="text" value="{{ item }}">
      {% endfor %}
      <a class="link" data-ref="preparation">Adicionar novo passo</a>

      <label class="label" for="information">Informações adicionais</label>
      <textarea name="information" class="input -big" id="information">{{ recipe.information }}</textarea>
    </div>

  </form>

{% endblock %}

{% block script %}
  <script src="/admin.js"></script>
{% endblock %}
