{% extends "admin/layout.njk" %}

{% block content %}

  <main class="admin-main">
    <h1 class="title">Gerenciar receitas</h1>
    <section class="cards">
      <div class="card">
        <img class="image" src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">
        <div>
          <p class="recipe">Asinhas de frango ao barbecue</p>
          <p class="author">por Jorge Relato</p>
          <a href="#" class="link">Visualizar</a>
        </div>
      </div>
      <div class="card">
        <img class="image" src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">
        <div>
          <p class="recipe">Asinhas de frango ao barbecue</p>
          <p class="author">por Jorge Relato</p>
          <a href="#" class="link">Visualizar</a>
        </div>
      </div>
      <div class="card">
        <img class="image" src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">
        <div>
          <p class="recipe">Asinhas de frango ao barbecue</p>
          <p class="author">por Jorge Relato</p>
          <a href="#" class="link">Visualizar</a>
        </div>
      </div>
      <div class="card">
        <img class="image" src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">
        <div>
          <p class="recipe">Asinhas de frango ao barbecue</p>
          <p class="author">por Jorge Relato</p>
          <a href="#" class="link">Visualizar</a>
        </div>
      </div>

    </section>
  </main>

{% endblock content %}
